mixin Contacts(data)
  .container
    .contacts-block.modal-style
      .contacts-block-border
        .contacts-block-heading: h1 Контакты
        .contact-block-text
          p Звоните по телефону <strong>+7 (343) 271-88-90</strong>
          p Пишите письма на почту <strong>sputnikpromo@ya.ru</strong>
          p А лучше заходите в гости по адресу <strong>Фронтовых Бригад 33а</strong> и посмотрите наши выставочные объекты.
          p При встрече можем обсудить проекты и сделать предварительный расчет.
  .contacts-map-block
    .contacts-map-overlay
    #myMap.contacts-map
