section.stages
  .wrap
    h1.section-heading Порядок работы
    ol.stages-list
      li.stages-list__item Оставляете заявку на вызов мастера, через форму обратной связи или по телефону
      li.stages-list__item В удобное для вас время приезжает мастер и делает диагностику неисправности
      li.stages-list__item Мастер называет цену, если вас устраивает, приступает к выполнению работы
      li.stages-list__item После завершения работ, вы проверяете, оплачиваете ровно ту сумму которая была обговорена на 3 этапе
