doctype html
html.no-js(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="google-site-verification" content="gviHTu-fs_DMBdQmknU_s4f3klx_WnAlYa2QlJ9XNQg")
    block title
      title Default title
    meta(name="description" content="Служба выездной компьютерной помощи, ремонт компьютеров на дому. Не дорого и без обмана помогаем хорошим людям решать проблемы с их компьютерной техникой.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    include ../meta/_favicons
    include ../meta/_css-links
    include ../meta/_head-scripts
    include ../meta/_socials
  body.site
    block content
  include ../meta/_svg-icons
  include ../meta/_foot-scripts
  include ../meta/_metrics
