doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="Проект СК «Спутник» / Строительство бань из бруса «под ключ» в Екатерибурге и СО с гарантией 10 лет / Работаем с 2007 года")
    meta(name="author", content="Maksim Sholomov ⚓ mshlmv.ru")
    include ../meta/_favicons

    meta(name="yandex-verification", content="9c01aeae0e002dc5")

    block title
      title Default title

    include ../meta/_css-links
    include ../meta/_head-scripts
    include ../meta/_socials

  body.site
    include ../meta/_metrics
    //- include ../meta/_svg-icons

    block content

  include ../meta/_foot-scripts
