extends layouts/_default.jade
include helpers/_variables.jade
include helpers/_mixins.jade

block title
  title Служба компьютерной помощи – Фиксим

block header
  h1.hero-heading Спасибо за вашу заявку!
  h2.hero-subheading Мы получили ваши контактные данные и обязательно свяжемся с вами в течении 30 минут
  
block content
  include ../modules/header/header
  include ../modules/footer/footer
