/*
* services.styl
*/

.services
  margin-top torem(55px)

.section-heading
  text-align center
  font-family RobotoSlabBold
  font-size torem(28px)
  &::after
    background url("../img/wave.svg")
    content ''
    display block
    width 135px
    height 10px
    margin 0 auto
  +above('md')
    font-size torem(36px)

.mobile-filter
  appearance none
  background-color $body-bg-color
  margin-top torem(25px)
  width 100%
  height torem(35px)
  border 1px solid $main-color
  border-radius 0
  font-family RobotoCondRegular
  font-size 1rem
  line-height 1
  color $main-color
  padding torem(6px) torem(20px)
  position relative
  cursor pointer
.mobile-filter-wrapper
  position relative
  +above('md')
    display none
  &::before
    content ''
    display block
    width torem(55px)
    height torem(35px)
    background-color $main-color
    position absolute
    bottom 0
    right 0
    z-index 1
    pointer-events none
  &::after
    content ''
    display block
    width 1rem
    height @width
    background url("../img/assets/services/icon-arrow.svg") no-repeat center center
    position absolute
    bottom 50%
    right 20px
    margin-bottom -20px
    z-index 2
    pointer-events none

.desktop-filter
  display none
  +above('md')
    display flex
    flex-flow row wrap
    margin-top torem(25px)

.filter-category
  padding-right 4%
  font-family RobotoCondRegular
  color lighten($second-color, 15%)
  cursor pointer
  span
    border-bottom 1px dotted
  input[name="category"]
    visibility hidden
  input[name="category"]:checked + span
    color $second-color
    border-bottom 1px transparent

.services-items
  margin torem(30px) -1% 0 0
  display flex
  flex-flow row wrap
  list-style-type none
  padding-left 0

.items__card
  flex-basis 100%
  display flex
  flex-direction column
  justify-content space-around
  border 3px solid $main-color
  height 140px
  margin 0 1% torem(10px) 0
  text-align center
  padding torem(5px)
  position relative
  &::after
    content ''
    display block
    position absolute
    bottom -3px
    right 15px
    height 3px
    width 15px
    background-color $body-bg-color
  +above('sm')
    flex-basis 49%
  +above('lg')
    flex-basis calc( (100% / 3) - 1% )
  +above('xl')
    flex-basis calc( (100% / 4) - 1% )
.card-title
  font-size 1rem
  font-family RobotoSlabBold
  +above('sm')
    font-size torem(18px)
.card-desc
  font-size torem(12px)
  +above('sm')
    font-size torem(14px)
.card-price
  font-size 1rem
  font-family RobotoSlabLight
  span
    font-family RobotoSlabBold
  +above('sm')
    font-size torem(18px)
.card-note
  font-size torem(10px)
  +above('sm')
    font-size torem(12px)
.card-title, .card-note, .card-price
  margin-bottom 0
