rupture.enable-em-breakpoints = true
rupture.scale = 0 544px 768px 992px 1200px
rupture.scale-names = 'xs' 'sm' 'md' 'lg' 'xl'

// Fonts
$font-size-root = 16px
$base-font-family = "RobotoRegular", Tahoma, Helvetica, Arial, sans-serif
$base-icon-font = "icomoon"
$base-font-size = 18px
$base-line-hight = 1.5
$heading-font-family = "RobotoSlabBold", serif

// Colors
$body-bg-color = $gray-lightest
$base-text-color = #061125
$link-color = #005aff
$link-hover-color = darken($link-color, 15%)

$main-color = $base-text-color
$second-color = #5d7f0c

$gray-dark = #333
$gray-normal = #ccc
$gray-light = #d8d8d8
$gray-lighter = #eee
$gray-lightest = #fafafa

$brand-primary = #0275d8
$brand-success = #5cb85c
$brand-info = #5bc0de
$brand-warning = #f0ad4e
$brand-danger = #d9534f

$text-muted = $gray-light
$abbr-border-color = $gray-light

// Layout
$min-width = 600px
$max-width = 900px
$footer-height = 80px

// Links
$link-decoration = none
$link-hover-decoration = underline

$layout-section
  margin 0 auto
  min-width $min-width
  max-width $max-width

// Tables
$table-cell-padding = 0.75rem
$table-sm-cell-padding = 0.3rem
$table-bg = transparent
$table-bg-accent = #f9f9f9
$table-bg-hover = whitesmoke
$table-bg-active = $table-bg-hover
$table-border-color = $gray-lighter

// Effects
$transition-duration = .2s
$mq-retina = "(min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2)"
