section.superiority
  .wrap
    h1.section-heading Наши приемущества
    ul.superiority-list
      li.superiority-list__item
        svg.superiority-list__icon.icon--user
          use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#warranty")
        span.superiority-list__text
          h2 Гарантия
          p Честная гарантия на все виды работ
      li.superiority-list__item
        svg.superiority-list__icon.icon--user
          use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#watch")
        span.superiority-list__text
          h2 Скорость
          p Приезжаем и работаем быстро
      li.superiority-list__item
        svg.superiority-list__icon.icon--user
          use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home")
        span.superiority-list__text
          h2 Удобно
          p Не нужно никуда ехать мы сами приедем к вам
      li.superiority-list__item
        svg.superiority-list__icon.icon--user
          use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wallet")
        span.superiority-list__text
          h2 Доступно
          p Фиксированные цены до начала работ
