mixin Footer(data)
  .container
    .footer-wrap.row
      .footer-copyright.col-xs-8
        p © Уральская Сказка, ООО «Уральское Утилитарное Управление», 2016
        p ИНН 6686040767
        p ОГРН 1146686001395
      .footer-links.col-xs-4
        div: a.shadow-link(href="" data-toggle="modal" data-target="#politics") Политика конфедициальности
        div: a.normal-link(href="http://mshlmv.ru") Дизайн и разработка сайта, 2016
