//- Scripts for <head>

//- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
//
//- <!--[if lt IE 9]>
//- <script src="%=static=%js/separate-js/html5shiv.min.js"></script>
//- <script src="%=static=%js/separate-js/respond.min.js"></script>
//- <![endif]-->
