html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
footer,
header,
main,
section {
  display: block
}
a {
  background-color: transparent
}
a:active,
a:hover {
  outline: 0
}
b {
  font-weight: 700
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
img {
  border: 0
}
svg:not(:root) {
  overflow: hidden
}
button,
input,
textarea {
  color: inherit;
  font: inherit;
  margin: 0
}
button {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0
}
textarea {
  overflow: auto
}
* {
  box-sizing: border-box
}
*:after,
*:before {
  box-sizing: border-box
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff
}
button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}
a {
  color: #337ab7;
  text-decoration: none
}
a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}
img {
  vertical-align: middle
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px
}
@media (min-width: 768px) {
  .container {
      width: 750px
  }
}
@media (min-width: 992px) {
  .container {
      width: 970px
  }
}
@media (min-width: 1200px) {
  .container {
      width: 1010px
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px
}
.col-md-3,
.col-md-4,
.col-md-6,
.col-md-8,
.col-sm-12,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-xs-12,
.col-xs-4,
.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}
.col-xs-12,
.col-xs-4,
.col-xs-6 {
  float: left
}
.col-xs-12 {
  width: 100%
}
.col-xs-6 {
  width: 50%
}
.col-xs-4 {
  width: 33.33333333%
}
@media (min-width: 768px) {
  .col-sm-12,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8 {
      float: left
  }
  .col-sm-12 {
      width: 100%
  }
  .col-sm-8 {
      width: 66.66666667%
  }
  .col-sm-7 {
      width: 58.33333333%
  }
  .col-sm-6 {
      width: 50%
  }
  .col-sm-5 {
      width: 41.66666667%
  }
  .col-sm-4 {
      width: 33.33333333%
  }
  .col-sm-3 {
      width: 25%
  }
  .col-sm-offset-4 {
      margin-left: 33.33333333%
  }
}
@media (min-width: 992px) {
  .col-md-3,
  .col-md-4,
  .col-md-6,
  .col-md-8 {
      float: left
  }
  .col-md-8 {
      width: 66.66666667%
  }
  .col-md-6 {
      width: 50%
  }
  .col-md-4 {
      width: 33.33333333%
  }
  .col-md-3 {
      width: 25%
  }
  .col-md-pull-6 {
      right: 50%
  }
  .col-md-push-6 {
      left: 50%
  }
  .col-md-offset-6 {
      margin-left: 50%
  }
  .col-md-offset-4 {
      margin-left: 33.33333333%
  }
}
.container:after,
.container:before,
.row:after,
.row:before {
  content: " ";
  display: table
}
.container:after,
.row:after {
  clear: both
}
.hidden {
  display: none!important
}
@-ms-viewport {
  width: device-width
}
@font-face {
  font-family: 'zantrokeregular';
  src: url('../fonts/zantroke-webfont.eot');
  src: url('../fonts/zantroke-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/zantroke-webfont.woff2') format('woff2'), url('../fonts/zantroke-webfont.woff') format('woff'), url('../fonts/zantroke-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: 'pf_agora_slab_problack';
  src: url('../fonts/pfagoraslabpro-black-webfont.eot');
  src: url('../fonts/pfagoraslabpro-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfagoraslabpro-black-webfont.woff2') format('woff2'), url('../fonts/pfagoraslabpro-black-webfont.woff') format('woff'), url('../fonts/pfagoraslabpro-black-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: 'pf_agora_slab_probold';
  src: url('../fonts/pfagoraslabpro-bold-webfont.eot');
  src: url('../fonts/pfagoraslabpro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfagoraslabpro-bold-webfont.woff2') format('woff2'), url('../fonts/pfagoraslabpro-bold-webfont.woff') format('woff'), url('../fonts/pfagoraslabpro-bold-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: 'pf_agora_slab_probold_italic';
  src: url('../fonts/pfagoraslabpro-bolditalic-webfont.eot');
  src: url('../fonts/pfagoraslabpro-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfagoraslabpro-bolditalic-webfont.woff2') format('woff2'), url('../fonts/pfagoraslabpro-bolditalic-webfont.woff') format('woff'), url('../fonts/pfagoraslabpro-bolditalic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: 'pf_agora_slab_proitalic';
  src: url('../fonts/pfagoraslabpro-italic-webfont.eot');
  src: url('../fonts/pfagoraslabpro-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfagoraslabpro-italic-webfont.woff2') format('woff2'), url('../fonts/pfagoraslabpro-italic-webfont.woff') format('woff'), url('../fonts/pfagoraslabpro-italic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: 'pf_agora_slab_prolight_italic';
  src: url('../fonts/pfagoraslabpro-lightitalic-webfont.eot');
  src: url('../fonts/pfagoraslabpro-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfagoraslabpro-lightitalic-webfont.woff2') format('woff2'), url('../fonts/pfagoraslabpro-lightitalic-webfont.woff') format('woff'), url('../fonts/pfagoraslabpro-lightitalic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: 'pf_agora_slab_proMdIt';
  src: url('../fonts/pfagoraslabpro-meditalic-webfont.eot');
  src: url('../fonts/pfagoraslabpro-meditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfagoraslabpro-meditalic-webfont.woff2') format('woff2'), url('../fonts/pfagoraslabpro-meditalic-webfont.woff') format('woff'), url('../fonts/pfagoraslabpro-meditalic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: 'pf_agora_slab_promedium';
  src: url('../fonts/pfagoraslabpro-medium-webfont.eot');
  src: url('../fonts/pfagoraslabpro-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfagoraslabpro-medium-webfont.woff2') format('woff2'), url('../fonts/pfagoraslabpro-medium-webfont.woff') format('woff'), url('../fonts/pfagoraslabpro-medium-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: 'pf_agora_slab_proregular';
  src: url('../fonts/pfagoraslabpro-reg-webfont.eot');
  src: url('../fonts/pfagoraslabpro-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfagoraslabpro-reg-webfont.woff2') format('woff2'), url('../fonts/pfagoraslabpro-reg-webfont.woff') format('woff'), url('../fonts/pfagoraslabpro-reg-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal
}
.mfp-bg {
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: .8;
  filter: alpha(opacity=80)
}
.mfp-bg,
.mfp-container,
.mfp-wrap {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0
}
.mfp-wrap {
  z-index: 1043;
  outline: none!important;
  -webkit-backface-visibility: hidden;
  position: fixed
}
.mfp-container {
  text-align: center;
  position: absolute;
  padding: 0 8px;
  box-sizing: border-box
}
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle
}
.mfp-align-top .mfp-container:before {
  display: none
}
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045
}
.mfp-ajax-holder .mfp-content,
.mfp-inline-holder .mfp-content {
  width: 100%;
  cursor: auto
}
.mfp-ajax-cur {
  cursor: progress
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out
}
.mfp-zoom {
  cursor: -webkit-zoom-in;
  cursor: zoom-in
}
.mfp-auto-cursor .mfp-content {
  cursor: auto
}
.mfp-arrow,
.mfp-close,
.mfp-counter,
.mfp-preloader {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.mfp-loading.mfp-figure,
.mfp-s-error .mfp-content,
.mfp-s-ready .mfp-preloader {
  display: none
}
.mfp-hide {
  display: none!important
}
.mfp-preloader {
  color: #ccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -.8em;
  left: 8px;
  right: 8px;
  z-index: 1044
}
.mfp-preloader a {
  color: #ccc
}
.mfp-preloader a:hover {
  color: #fff
}
button.mfp-arrow,
button.mfp-close {
  overflow: visible;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none
}
button::-moz-focus-inner {
  padding: 0;
  border: 0
}
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: .65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #fff;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace
}
.mfp-close:focus,
.mfp-close:hover {
  opacity: 1;
  filter: alpha(opacity=100)
}
.mfp-close:active {
  top: 1px
}
.mfp-close-btn-in .mfp-close {
  color: #333
}
.mfp-iframe-holder .mfp-close,
.mfp-image-holder .mfp-close {
  color: #fff;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%
}
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap
}
.mfp-arrow {
  position: absolute;
  opacity: .65;
  filter: alpha(opacity=65);
  top: 50%;
  margin: -55px 0 0;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent
}
.mfp-arrow:active {
  margin-top: -54px
}
.mfp-arrow:focus,
.mfp-arrow:hover {
  opacity: 1;
  filter: alpha(opacity=100)
}
.mfp-arrow .mfp-a,
.mfp-arrow .mfp-b,
.mfp-arrow:after,
.mfp-arrow:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent
}
.mfp-arrow .mfp-a,
.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px
}
.mfp-arrow .mfp-b,
.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: .7
}
.mfp-arrow-left {
  left: 0
}
.mfp-arrow-left .mfp-a,
.mfp-arrow-left:after {
  border-right: 17px solid #fff;
  margin-left: 31px
}
.mfp-arrow-left .mfp-b,
.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f
}
.mfp-arrow-right {
  right: 0
}
.mfp-arrow-right .mfp-a,
.mfp-arrow-right:after {
  border-left: 17px solid #fff;
  margin-left: 39px
}
.mfp-arrow-right .mfp-b,
.mfp-arrow-right:before {
  border-left: 27px solid #3f3f3f
}
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px
}
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px
}
.mfp-iframe-holder .mfp-close {
  top: -40px
}
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%
}
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .6);
  background: #000
}
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  box-sizing: border-box;
  padding: 40px 0;
  margin: 0 auto
}
.mfp-figure,
img.mfp-img {
  line-height: 0
}
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, .6);
  background: #444
}
.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px
}
.mfp-figure figure {
  margin: 0
}
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto
}
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px
}
.mfp-image-holder .mfp-content {
  max-width: 100%
}
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer
}
@media screen and (max-width: 800px) and (orientation: landscape),
screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
      padding-left: 0;
      padding-right: 0
  }
  .mfp-img-mobile img.mfp-img {
      padding: 0
  }
  .mfp-img-mobile .mfp-figure:after {
      top: 0;
      bottom: 0
  }
  .mfp-img-mobile .mfp-figure small {
      display: inline;
      margin-left: 5px
  }
  .mfp-img-mobile .mfp-bottom-bar {
      background: rgba(0, 0, 0, .6);
      bottom: 0;
      margin: 0;
      top: auto;
      padding: 3px 5px;
      position: fixed;
      box-sizing: border-box
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0
  }
  .mfp-img-mobile .mfp-counter {
      right: 5px;
      top: 3px
  }
  .mfp-img-mobile .mfp-close {
      top: 0;
      right: 0;
      width: 35px;
      height: 35px;
      line-height: 35px;
      background: rgba(0, 0, 0, .6);
      position: fixed;
      text-align: center;
      padding: 0
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
      -webkit-transform: scale(.75);
      transform: scale(.75)
  }
  .mfp-arrow-left {
      -webkit-transform-origin: 0;
      transform-origin: 0
  }
  .mfp-arrow-right {
      -webkit-transform-origin: 100%;
      transform-origin: 100%
  }
  .mfp-container {
      padding-left: 6px;
      padding-right: 6px
  }
}
.mfp-ie7 .mfp-img {
  padding: 0
}
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px
}
.mfp-ie7 .mfp-container {
  padding: 0
}
.mfp-ie7 .mfp-content {
  padding-top: 44px
}
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0
}
body {
  background: #fff;
  line-height: 1.5
}
a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: 0
}
img {
  display: block;
  max-width: 100%;
  height: auto
}
section {
  margin-top: 40px
}
.section-heading {
  font-family: 'zantrokeregular';
  text-align: center;
  color: #000
}
h1.section-heading {
  font-size: 32px
}
h2.section-heading {
  font-size: 28px
}
@media (max-width: 768px) {
  h1.section-heading {
      font-size: 28px;
      line-height: 1.2
  }
  h2.section-heading {
      font-size: 24px
  }
}
h1>.heading--special {
  color: #e22c2a;
  font-size: 58px
}
@media (max-width: 768px) {
  h1>.heading--special {
      color: #e22c2a;
      font-size: 48px
  }
}
h2>.heading--special {
  color: #fec114
}
.section-subheading {
  font-family: 'pf_agora_slab_proitalic';
  font-size: 26px;
  line-height: 1.2;
  font-weight: 400;
  display: block;
  margin: -20px auto 0;
  text-align: center;
  color: #586a8d
}
@media (max-width: 768px) {
  .section-subheading {
      font-size: 22px
  }
}
#main {
  margin-top: -5px;
  overflow: hidden
}
.header a:active,
.header a:focus,
.header a:hover {
  text-decoration: none
}
.header {
  height: 300px;
  position: relative;
  z-index: 10;
  background: url('/images/header.png') bottom center no-repeat
}
.header__logo h1,
.header__phone .number {
  font-family: 'zantrokeregular';
  font-size: 33px;
  line-height: 33px;
  color: #010101
}
.logo--special {
  color: #fec114
}
.header__sublogo {
  font-family: 'pf_agora_slab_proMdIt';
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #7b869b
}
.header__sublogo em {
  color: #010101
}
.header__phone {
  font-family: 'pf_agora_slab_proitalic';
  font-size: 17px;
  text-align: right;
  color: #7b869b;
  margin-top: 20px
}
.header__phone p {
  margin-bottom: 0
}
.header__phone .number {
  display: block;
  font-size: 32px;
  line-height: 31px;
  text-decoration: none
}
.header__phone .number>span {
  font-size: 22px;
  color: #7b869b
}
.header__phone>.callback {
  display: inline-block;
  border-bottom: 1px dotted;
  margin-top: 16px
}
.header__line-two {
  margin-top: 65px
}
.hero--one {
  font-family: 'pf_agora_slab_prolight_italic';
  font-size: 39px;
  line-height: 38px;
  text-align: right;
  color: #a3b4d5
}
.hero--two {
  font-family: 'pf_agora_slab_probold';
  font-size: 42px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #e1e4eb
}
@media (max-width: 991px) {
  .header {
      height: auto
  }
  .header__line-two {
      margin-top: 160px
  }
  .header__logo,
  .header__phone {
      text-align: center
  }
  .header__button {
      margin-bottom: 30px
  }
  .header__hero {
      visibility: hidden
  }
}
@media (max-width: 544px) {
  .header__line-two {
      margin-top: 80px
  }
}
.teaser {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 500px;
  background: url('../images/Teaser__bg--full.jpg') center top no-repeat
}
.sticker {
  font-family: 'pf_agora_slab_probold';
  font-size: 30px;
  line-height: 1.1;
  position: absolute;
  top: 0;
  left: 30%;
  width: 213px;
  height: 213px;
  margin-top: 60px;
  margin-left: -107px;
  padding-top: 20px;
  text-align: center;
  color: #253f6f;
  border: 3px dashed #586a8d;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 0 6px #fff
}
.sticker__offer {
  font-family: 'pf_agora_slab_proitalic';
  font-size: .667em
}
.sticker__price--new {
  font-size: 1.2em;
  color: #e22c2a
}
.sticker__price--old {
  font-family: 'pf_agora_slab_promedium';
  font-size: .933em;
  text-decoration: line-through
}
@media (max-width: 1280px) {
  .sticker {
      left: 20%
  }
  .teaser {
      background: url('../images/Teaser__bg--1280.jpg') center top no-repeat
  }
}
@media (max-width: 992px) {
  .teaser {
      background: url('../images/Teaser__bg--992.jpg') center top no-repeat
  }
}
@media (max-width: 768px) {
  .sticker {
      left: 15%
  }
  .teaser {
      background: url('../images/Teaser__bg--768.jpg') center top no-repeat
  }
}
@media (max-width: 544px) {
  .teaser {
      background: url('../images/Teaser__bg--544.jpg') center top no-repeat
  }
  .sticker {
      top: 50%;
      left: 35%
  }
}
@media (max-width: 360px) {
  .sticker {
      font-size: 26px;
      width: 180px;
      height: 180px
  }
  .teaser {
      background: url('../images/Teaser__bg--320.jpg') center top no-repeat;
      background-size: cover
  }
}
section.teaser {
  margin-top: 0
}
.benefits__item {
  text-align: center
}
.benefits__item>svg {
  height: 200px
}
.benefits__heading {
  font-family: 'pf_agora_slab_probold';
  font-size: 20px;
  line-height: 25px;
  color: #010101
}
.benefits__item>p {
  font-family: 'pf_agora_slab_proitalic';
  font-size: 18px;
  line-height: 22px;
  color: #586a8d
}
.catalog {
  position: relative;
  background-image: url('/images/catalog-pattern.jpg')
}
@media (min-width: 768px) {
  section.catalog {
      margin-top: 120px
  }
}
@media (max-width: 543px) {
  .catalog:after {
      position: absolute;
      z-index: -10;
      bottom: -30px;
      left: 50%;
      width: 60px;
      height: 60px;
      content: '';
      -webkit-transform: translateX(-50%) rotate(45deg);
      transform: translateX(-50%) rotate(45deg);
      pointer-events: none;
      background: inherit
  }
}
@media (min-width: 544px) {
  .catalog:after,
  .catalog:before {
      position: absolute;
      z-index: -1;
      left: -25%;
      width: 150%;
      height: 50%;
      content: '';
      -webkit-transform-origin: 3% 0;
      transform-origin: 3% 0;
      pointer-events: none;
      background: inherit
  }
  .catalog:before {
      top: 0;
      -webkit-transform: rotate(-3deg);
      transform: rotate(-3deg)
  }
  .catalog:after {
      bottom: 0;
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg)
  }
}
.catalog__header {
  margin-top: -120px;
  margin-bottom: 40px
}
.heading-box {
  height: 300px;
  background: url('/images/Shape.svg') no-repeat;
  background-size: 100% 100%
}
.heading-box>.section-heading {
  line-height: 1.2;
  display: block;
  width: 80%;
  padding-top: 20%;
  padding-left: 15%;
  text-align: center
}
@media (max-width: 768px) {
  .heading-box {
      height: 255px
  }
  .catalog__header {
      margin-top: -30px;
      margin-bottom: 0
  }
  .heading-box>.section-heading {
      padding-top: 30%
  }
}
@media (max-width: 544px) {
  .heading-box {
      width: 100%
  }
  .heading-box>.section-heading {
      padding-top: 12%
  }
  .catalog__header {
      margin-bottom: 40px
  }
}
.catalog-filter {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 60px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around
}
.menu__item {
  position: relative;
  display: inline-block;
  padding: 2%;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 20px
}
.menu__item:active,
.menu__item:focus,
.menu__item:hover {
  text-decoration: none
}
.item__text {
  font-family: 'pf_agora_slab_probold';
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
  color: #a3b4d5
}
.menu__item:hover .item__text {
  color: #fff
}
.menu__item.is-active .item__text,
.menu__item.is-active:hover .item__text {
  position: relative;
  z-index: 2;
  color: #395cad
}
.menu__item--1>.item__icon {
  width: 4.5em;
  height: 5em
}
.menu__item--2>.item__icon {
  width: 5.313em;
  height: 5.875em
}
.menu__item--3>.item__icon {
  width: 6.25em;
  height: 6.875em
}
.menu__item--4>.item__icon {
  width: 7.188em;
  height: 7.938em
}
.menu__item--5>.item__icon {
  width: 8.125em;
  height: 9em
}
@media (max-width: 768px) {
  .catalog-filter {
      margin-top: 20px
  }
}
@media (max-width: 544px) {
  .menu__item {
      font-size: 10px
  }
  .item__text {
      font-size: 14px
  }
  .heading-box {
      height: 230px
  }
  .catalog__header {
      margin-top: -60px
  }
}
@media (max-width: 320px) {
  .menu__item {
      font-size: 9px
  }
  .item__text {
      font-size: 12px
  }
}
.use-default {
  fill: #a3b4d5
}
.menu__item:hover .use-default {
  fill: #fff
}
.menu__item:hover {
  border: 2px dashed #fff
}
.use-hover {
  visibility: hidden
}
.menu__item.is-active {
  border: 2px dashed #395cad;
  background-color: #fff;
  box-shadow: 0 0 0 2px #fff
}
.menu__item--1.is-active:after,
.menu__item--2.is-active:after,
.menu__item--3.is-active:after,
.menu__item--4.is-active:after {
  position: absolute;
  display: block;
  content: '';
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px dashed #395cad;
  border-bottom: 2px dashed #395cad;
  background: #fff;
  box-shadow: 0 0 0 2px #fff
}
.menu__item--1.is-active:after {
  bottom: -14px;
  left: calc(50% - 12px);
  width: 25px;
  height: 25px
}
.menu__item--2.is-active:after {
  bottom: -15px;
  left: calc(50% - 15px);
  width: 30px;
  height: 30px
}
.menu__item--3.is-active:after {
  bottom: -18px;
  left: calc(50% - 16px);
  width: 35px;
  height: 35px
}
.menu__item--4.is-active:after {
  bottom: -20px;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px
}
.menu__item.is-active .use-default {
  fill: #395cad
}
.catalog .items {
  display: none
}
.catalog .items.is-active {
  display: block
}
@media (min-width: 768px) {
  .catalog__grid__item {
      min-height: 558px
  }
}
@media (max-width: 768px) {
  .catalog__grid__item:nth-of-type(n) {
      clear: none
  }
  .catalog__grid__item:nth-of-type(2n+1) {
      clear: both
  }
  .catalog__grid__item {
      padding-right: 7px;
      padding-left: 7px
  }
}
.catalog__grid__item {
  margin-bottom: 20px
}
.item__image img {
  width: 100%;
  border-radius: 5px 5px 0 0
}
.item__description {
  margin-bottom: 10px;
  padding: 15px 25px;
  border-radius: 0 0 5px 5px;
  background-color: #fff
}
.description__name {
  font-family: 'pf_agora_slab_proMdIt';
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 15px;
  text-align: center;
  color: #253f6f
}
.description__price {
  font-size: 18px
}
.price--new {
  color: #e22c2a
}
.price--new,
.price--normal {
  font-weight: 700
}
.price--old {
  text-decoration: line-through
}
.item__image {
  position: relative
}
.item__image:hover .image__zoom {
  visibility: visible
}
.image__zoom {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
  background: rgba(0, 0, 0, .5)
}
.zoom__icon {
  position: relative;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  margin-left: -16px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAz1BMVEX////h5e7i5u/g5O7Y3uvV3OrU2unHz+TFzuTBy+LAyuK9yOC+yeG7xt+7xuC6xd+4xN+vvNusutqquNmpt9mnttiltNemtdePos6Noc6Ooc6JncyJnsyHnMuBlsmCmMl+lMh+lch7kcd7ksd8k8d4j8Vuh8Jjf75kf75eertcebtbeLpYdrlZdrlScbdRb7ZPbrVNbLVJabNGZ7JFZrJAYbA+YK8/Ya9AYrBBY7A9YK8/Ya86Xa06Xa47Xq48Xq49X645XK06Xa45XK05XK061/KcAAAARHRSTlMAAgIEDA4QHR8jJSYmKSkqLDQ5Ojs9Pj9WWFhcXF5iYmZmaGhobHiDg4eJi42Nk5WXmZ2foaOlpaWlp6epqampqaurrZ9TzvUAAAFiSURBVHjahZLpVsIwEIUHEASRRQHZF5GtoOxoS1u2+P7P5J00J1KCeP/0zp0vk+WUtO4ro+VhvxxWk3RNz1PxrSRmRaN9Z8m2RibxcP/BDhpHKHBu9ryf2nO27eVjRJFcZ8vQKXM23+bF/agOuky4CV1bKL0XOlPBR/Shzy+wHv0QgRmirIop6H5gdzhk4N5ALNT7CJwvqgDMokCfGJGSroIBPTKAFuK6dCO4vAmksYcl3RJhjJvQEd7Hl3N4RwIHhCpQ0rWQwP4PwAOgt4gwwIJnqQW2BIZYkqNA/u8hHwGMpasC6Ji3aCNuSpfkhzKBjX4omiHtXj71K3aYK7YoQBQopCe+ZImUJtjOL4T6O0SOLuMu373HVs+HxEAH2RMTX620vF97g/4FkXHVP+t5R9k1iMR7+Ld3xCVB5YVGxLxEA5OgVN1yhLDHTX4fTTToujSxpn+IFd0mRI1uqLFe1egH2P9twszgt3kAAAAASUVORK5CYII=)
}
.motivation__phrase {
  font-family: 'pf_agora_slab_prolight_italic';
  font-size: 48px;
  margin-bottom: -45px;
  text-align: right;
  color: #a3b4d5
}
.motivation__phrase:after {
  position: absolute;
  left: 30%;
  display: block;
  width: 161px;
  height: 111px;
  content: '';
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjEgMTExIj4gIDxwYXRoIGZpbGw9IiNmZmRlNDUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyMS40MjIgNzIuODE0YzEwLjE3OC02LjM3IDIxLjk0OC0xOS43OTYgMjkuMjgyLTM0LjE2QzE1Ny45IDI0LjU2IDE2MC43NTcgOS41NTYgMTYwLjc1NyAwaC0yMi40NmMtMS44NjQgMTEuMjkzLTEuNTk2IDEzLjAwMy04Ljg3NCAyNC40NzYtNy4yNzcgMTEuNDc0LTEzLjMwNSAxNS4yMzItMjAuMTM2IDIxLjI2QzkzLjcwNSA1OS40ODggNzEuNjEgNjcuNDIyIDQ5LjU3MyA2Ny40MjJsNy45MzMtMTUuODY0TDAgNzkuMzJsNTcuNTA2IDMxLjcyNi03LjkzMy0xNS44NjRjMjEuMjU1IDAgNDkuNjQzLTguNDcgNzEuODUtMjIuMzY4eiIvPjwvc3ZnPg==)
}
@media (max-width: 543px) {
  .motivation__phrase {
      font-size: 38px;
      margin-bottom: 0;
      text-align: center
  }
  .motivation__phrase:after {
      display: none
  }
}
@media (min-width: 544px) and (max-width: 768px) {
  .motivation__phrase {
      margin-bottom: -15px;
      text-align: left
  }
  .motivation__phrase:after {
      top: 50%;
      left: 65%
  }
}
.reasons .section-heading {
  text-align: left
}
.reasons__grid {
  margin: 0;
  padding: 0
}
.reasons__grid__item {
  margin-top: 40px;
  list-style-type: none;
  text-align: center
}
@media (max-width: 768px) {
  .reasons__grid__item:nth-of-type(n) {
      clear: none
  }
  .reasons__grid__item:nth-of-type(2n+1) {
      clear: both
  }
}
.reasons__grid__item h3 {
  font-family: 'pf_agora_slab_probold';
  font-size: 22px;
  margin-bottom: 0;
  color: #000
}
.reasons__grid__item p {
  font-family: 'pf_agora_slab_proMdIt';
  font-size: 18px;
  margin: 0;
  color: #586a8d
}
.item__heart>span {
  font-family: 'pf_agora_slab_probold';
  font-size: 28px;
  line-height: 60px;
  position: relative;
  z-index: 99;
  display: block;
  width: 90px;
  text-align: center;
  color: #fff
}
.item__heart {
  position: relative;
  left: -15px;
  width: 70px;
  height: 65px;
  margin: 0 auto
}
.item__heart:after,
.item__heart:before {
  position: absolute;
  top: 0;
  left: 45px;
  width: 45px;
  height: 70px;
  content: '';
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  border-radius: 50px 50px 0 0;
  background: #395cad
}
.item__heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  box-shadow: 6px 0 3px #a3b4d5
}
.heart--special:after,
.heart--special:before {
  background: #e22c2a
}
.heart--special:after {
  box-shadow: 6px 0 3px #ffa1a0
}
.item--special h3,
.item--special p {
  color: #e22c2a
}
.responses {
  background: #d9e4f9
}
.responses-box .heading--special {
  line-height: 1
}
#vk_groups, #vk_groups iframe,
#vk_comments, #vk_comments iframe  {
  width: 100% !important;
}
.box__item {
  margin-top: 40px
}
.flamp-widget {
  padding: 0!important
}
/*.flamp-widget iframe .fw__responsive {
  min-width: 0 !important;
}*/
.text-box p {
  font-family: 'pf_agora_slab_proregular';
  line-height: 22px;
  color: #253f6f
}
.pluso-container {
  margin-bottom: 16px;
  text-align: center
}
.footer {
  font-size: 16px;
  padding: 20px 0;
  color: #fff;
  background-color: #415482
}
.footer__company {
  font-family: 'pf_agora_slab_probold';
  font-size: 24px
}
.footer__copyright {
  font-family: 'pf_agora_slab_proregular';
  font-size: 16px
}
.footer__phone {
  font-family: 'pf_agora_slab_proitalic'
}
.number-phone {
  font-family: 'pf_agora_slab_probold';
  font-size: 29px
}
.number-phone>span {
  font-size: 23px;
  color: #8b9bbe
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
      text-align: center
  }
  .footer__phone {
      margin-bottom: 15px
  }
  .footer__company {
      margin-top: 30px
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .footer__company {
      margin-top: -70px
  }
  .footer__callback {
      margin-top: 10px
  }
}
a.button,
a.button:active,
a.button:focus,
a.button:hover {
  text-decoration: none;
  color: #000
}
.button {
  display: inline-block;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid transparent;
  background-image: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation
}
.button--yellow {
  background-color: #ffde45;
  box-shadow: 0 3px 0 0 #fec114
}
.button--yellow:hover {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  background-color: #ffe778;
  box-shadow: 0 4px 0 0 #fec114
}
.button--yellow:active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  background-color: #fdbf19;
  box-shadow: inset 0 3px 0 0 #d9a000
}
.button--normal {
  font-family: 'pf_agora_slab_promedium';
  font-size: 18px;
  width: 100%;
  max-width: 220px;
  padding: 10px 20px;
  border-radius: 2em
}
.button--large {
  font-family: 'pf_agora_slab_problack';
  font-size: 23px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 2em
}
.white-popup {
  position: relative;
  background: #fff;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  text-align: center
}
.popup-heading {
  font-family: 'zantrokeregular';
  font-size: 30px;
  color: #010101
}
.popup-text {
  font-family: 'pf_agora_slab_proregular';
  font-size: 26px;
  color: #2c476f
}
.popup-input,
.popup-label {
  font-family: 'pf_agora_slab_promedium';
  max-width: 300px
}
.popup-label {
  display: block;
  margin: 0 auto;
  padding-bottom: 5px;
  text-align: left;
  font-size: 19px
}
.popup-input {
  font-size: 24px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 14px;
  border: 3px solid #7688ab;
  border-radius: 8px
}
.popup-textarea {
  padding-top: 10px;
  min-height: 100px;
  font-size: 18px;
  line-height: 1.2
}
