.thank-you {
  background: url("%=static=%assets/13_Thankyou/thankyou_bg.jpg") 50% 0 no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
}

.thank-you__box {
  margin-top: 85px;
  padding: 100px;
  text-align: center;
  width: 600px;
}
