.back-form
  .wrap.back-form__wrap
    .bf-block.bf-block--left
      svg.back-form__icon
        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#time")
      h3 Оперативность
      p.
        Стараемся выезжать на заявки как можно быстрее. Прикладываем все усилия для
        быстрого решения проблем, но без особой спешки в ущерб качеству.
    .bf-block.bf-block--right
      svg.back-form__icon
        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#doc")
      h3 Гарантия
      p Даем только две гарантии:
      ol
        li Что пообещелаи сделать – сделаем.
        li Что сделали – будет работать, если нет, то переделаем за свой счет.
