doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="")
    meta(name="author", content="Maksim Sholomov ⚓ mshlmv.ru")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //- include ../meta/_favicons


    block title
      title Default title

    include ../meta/_css-links
    //- include ../meta/_head-scripts
    //- include ../meta/_socials

  body.site
    //- include ../meta/_metrics
    include ../meta/_svg-icons

    block content

  include ../meta/_foot-scripts
