/*====================
* Fonts styles
* file: fonts.styl
* dir: /styles/globals
====================*/

webfont("RobotoLight", roboto-300-normal, 300, normal, local woff2 woff truetype, "Roboto Light")
webfont("RobotoRegular", roboto-400-normal, 400, normal, local woff2 woff truetype, "Roboto")
webfont("RobotoBold", roboto-700-normal, 700, normal, local woff2 woff truetype, "Roboto Bold")
webfont("RobotoCondLight", robotocondensed-300-normal, 300, normal, local woff2 woff truetype, "Roboto Condensed Light")
webfont("RobotoCondRegular", robotocondensed-400-normal, 400, normal, local woff2 woff truetype, "Roboto Condensed")
webfont("RobotoSlabLight", robotoslab-100-normal, 100, normal, local woff2 woff truetype, "Roboto Slab Light")
webfont("RobotoSlabRegular", robotoslab-400-normal, 400, normal, local woff2 woff truetype, "Roboto Slab")
webfont("RobotoSlabBold", robotoslab-700-normal, 700, normal, local woff2 woff truetype, "Roboto Slab Bold")
